= render 'shared/errors', resource: question

h1= question.title
p= question.body

- if current_user.author_of?(question)
  = link_to 'Delete question', question_path(question), method: :delete

h3 Answers:
- if question.answers.exists?
  = render question.answers
- else
  p No answers yet

= render 'answers/form' 